<html lang="de">
<head>
  <meta charset="utf-8">
  <title>Fütterung Stammdaten</title>
  <base href="/">
  
  <link href="/css/base.css" rel="stylesheet"/>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <meta name="theme-color" content="#1976d2">
</head>
<body>

<div class="header-banner" style="position:relative">
    <span>Stammdaten </span>
    <a style="position:absolute; right:90px;" th:href="@{~/}">Zurück</a>
</div>

<div class="app-frame">

<h4>
  <span>Tabelle: </span>
  <span th:text="${tableName}"></span>
</h4>

<div th:if="${tableName == 'stamm_brand'}" style="display:inline-flex;width:90%">

  <div class="stammdaten-add">
    <form class="stammdaten-add-form" th:action="@{'/stammdaten/stamm_brand'}" method="post">
      <div class="stammdaten-input-with-label">  
        <label for="name">Marke:</label>
        <input type="text" id="name" name="name"/>
      </div>      

      <input type="submit" value="Senden">

  </form>
</div>

<table class="table" style="width:67%;margin-left: 20px;">
  <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Marke</th>
    </tr>
  </thead>
  <tbody>
    <tr th:each="row : ${rows}">
      <td th:text="${row.getId()}"></td>
      <td th:text="${row.getName()}"></td>
    </tr>
  </tbody>
</table>
</div>  <!-- stamm_brand -->

</div>

</body>
</html>
